.main-nav {

}

.main-nav__wrapper {}

.main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 648px;
    margin: 0 auto;
    
    list-style: none;
}

.main-nav__item {
    position: relative;
}

.main-nav__item::after {
    content: "";

    position: absolute;
    top: 25px;
    left: 0;

    width: 100%;
    height: 1px;
    
    background-color: #4D4959;

    opacity: 0;

    transition: 130ms opacity ease-out;
}


.main-nav__item:hover::after {
    opacity: 1;
} 

.main-nav__item:nth-child(1) {
    order: 3;
}

.main-nav__item:nth-child(1)::after {
    content: none;
}

.main-nav__item:nth-child(1):hover {
    animation-name: scale-logo;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
}

.main-nav__item:nth-child(4) {
    order: 4;
}

.main-nav__item:nth-child(5) {
    order: 5;
}

.main-nav__item h1 {
    font-size: 0;
}

.main-nav__item a {
    display: block;

    font-family: Lato-Bold, sans-serif;
    font-size: 13px;
    font-weight: 200;
    color: #4D4959;
    text-decoration: none;
}

@keyframes scale-logo {
    from { transform: scale(1); }
    50% { transform: scale(1.2); }
    to { transform: scale(1); }
}