@font-face {
  font-family: Lato-Bold;
  font-weight: normal;
  font-style: normal;
  src: local('☺'), url('../fonts/Lato-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Lato-Regular;
  font-weight: normal;
  font-style: normal;
  src: local('☺'), url('../fonts/Lato-Regular.woff2') format('woff2');
}